.clearfix::after {
    content: "";
    clear: both;
  }

.clear{clear: both; float:left; display: block;  position: relative; }

.theContainer{
  flex-wrap: wrap;
  margin-top:15px;
}

.rightBox{
  justify-content:flex-end;
  align-content: flex-end;
}

a{
  text-decoration: none !important;
  color:white;
}

.colorbtn:hover{
  color: blue;
}

.colorbtn{
  margin-left: 3px;

}

button{
  margin-bottom: 3px;
}



  .ff{
  
    border-color: #17a2b8;
    border-width: 1px; }


    @media only screen and (max-width: 378px) {
      .colorbtn{
        margin-left: 0px;
      
      }
    }

